autopep8==1.2.4
bleach==1.4
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.5
django-ckeditor==5.0.3
django-ckeditor-updated==4.4.4
django-summernote==0.8.5
djangoajax==2.3.6
DjangoUeditor==1.8.143
gunicorn==19.3.0
html5lib==0.9999999
Markdown==2.6.6
pep8==1.7.0
Pillow==3.2.0
psycopg2==2.6.1
python-decouple==3.0
six==1.10.0
static3==0.6.1
Unipath==1.1
uWSGI==2.0.12
virtualenv==15.0.1
