enColor = #EF6C00
tongjiBlue = #283593

html
  font-size 1rem !important
  font-family Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif !important
  -webkit-tap-highlight-color rgba(0,0,0,0)

body
  font-family Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif !important
  margin 0
  padding-top 11.5rem


ul
  list-style none
  margin 0 !important
  padding 0 !important

header
  position fixed
  top 0
  background rgba(255, 255, 255, .5)
  width 100%
  z-index 100

#header
  height 11.5rem
  background-image url('../img/tongji_badge.png')
  background-repeat no-repeat
  background-position center
  background-size auto 11.5rem
  line-height 11.5rem
  font-size 0.8rem
  min-width 950px

  #navbar
    position relative

#navbar li
  display inline-block
  margin 0 1rem
  padding 10px
  line-height 1.3rem
  text-align center
  border 2px solid transparent
  transition all .5s
  a
    text-decoration none
  span
    font-weight 400
    &:first-child
      color #000000 !important
      marign-bottom 5px
    &:last-child
      color enColor !important

#navbar-logo
  position absolute
  line-height 1rem
  text-align center
  top 3.5rem
  left 50%
  margin-left -119px
  color tongjiBlue
  p
    margin 0
  img
    width 5rem

#navbar #logo-left
  position absolute
  left 100px
  @media screen and (max-width: 600px)
    left 0
  li
    &:hover
      border 2px solid #f4b3c4

#navbar #logo-right
  position absolute
  right 100px
  @media screen and (max-width: 600px)
    right 0
  li
    &:hover
      border 2px solid #7ecef4

footer
  text-align center
  padding 3rem 5rem
  margin 3rem
  margin-bottom 0


footer > div
  padding .7rem 0
  .title
    margin-right 60px
    font-size 1rem
    font-weight 500
  a, .record
    color #767676
    margin-right 30px
    font-size .9rem