tongjiBlue = #283593
shallowBlue = #7798d2

#comment-post
  text-align center
  .title, .content
    text-align center
  input, textarea
    border 1px solid #c8c8c8
    font-size 1rem
    margin-bottom 1rem
    padding .2rem 1.2rem
  input
    height 26px
    min-width 300px
  textarea
    height 40px
    min-width 300px
  button
    padding .5rem 1.4rem
    background tongjiBlue
    color white
    border none
    font-size 1rem