{% extends 'home.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/unslider.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/unslider-dots.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/slider.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/js/unslider-min.js' %}"></script>
    <script src="{% static 'core/js/core.js' %}"></script>
{% endblock %}

{% block main %}
    <div id="core">
        <div id="slider">
            <ul>
                <li>
                    <img src="{% static 'core/img/wallhaven-19950.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'core/img/wallhaven-19950.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'core/img/wallhaven-19950.png' %}" alt="">
                </li>
            </ul>
        </div>
        <div id="floor">
            <h2 class="floor-title">
                <span>楼层索引</span>
            </h2>
            <ul>
                <li>
                    <div class="image">
                        <img src="" alt="" />
                        <div class="default-image">
                            <span>1F</span>
                        </div>
                    </div>
                    <div class="info">
                        <h3 class="title">博物馆一层</h3>
                        <p class="en-title">FIRST FLOOR</p>
                        <p class="name">艺术与创意空间</p>
                    </div>
                </li>
                <li>
                    <div class="image">
                        <img src="" alt="" />
                        <div class="default-image">
                            <span>2F</span>
                        </div>
                    </div>
                    <div class="info">
                        <h3 class="title">博物馆二层</h3>
                        <p class="en-title">SECOND FLOOR</p>
                        <p class="name">临时展厅A</p>
                    </div>
                </li>
                <li>
                    <div class="image">
                        <img src="" alt="" />
                        <div class="default-image">
                            <span>3F</span>
                        </div>
                    </div>
                    <div class="info">
                        <h3 class="title">博物馆三层</h3>
                        <p class="en-title">THIRD FLOOR</p>
                        <p class="name">临时展厅B</p>
                    </div>
                </li>
            </ul>
        </div>

        <div id="exhibition">

        </div>
    </div>
{#    {% for news_item in news %}#}
{#        {{ news_item.desc }}#}
{#        来自#}
{#        {{ news_item.part }}#}
{#        <br/>#}
{#    {% endfor %}#}
{% endblock %}

