{% extends 'home.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/unslider.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/unslider-dots.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/slider.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/js/unslider-min.js' %}"></script>
    <script src="{% static 'core/js/core.js' %}"></script>
{% endblock %}

{% block main %}
    <div id="core">
        <div id="slider">
            <ul>
                <li>
                    <img src="{% static 'core/img/wallhaven-19950.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'core/img/wallhaven-19950.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'core/img/wallhaven-19950.png' %}" alt="">
                </li>
            </ul>
        </div>
        <div id="floor">
            <h2 class="floor-title">
                楼层索引
            </h2>
            <ul>
                <li>
                    <div class="image"><img src="" alt="" />
                        <div class="info">
                            <p class="title">博物馆一层</p>
                            <p class="en-title"></p>
                            <p class="name"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image"><img src="" alt="" />
                        <div class="info">
                            <p class="title">博物馆二层</p>
                            <p class="en-title"></p>
                            <p class="name"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image"><img src="" alt="" />
                        <div class="info">
                            <p class="title">博物馆三层</p>
                            <p class="en-title"></p>
                            <p class="name"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{#    {% for news_item in news %}#}
{#        {{ news_item.desc }}#}
{#        来自#}
{#        {{ news_item.part }}#}
{#        <br/>#}
{#    {% endfor %}#}
{% endblock %}

