tongjiBlue = #283593
shallowBlue = #7798d2

#core
  position relative
  margin-top 2rem
  text-align center


.part-title
  margin 3rem 0
  span
    padding .6rem 6rem
    border-top 1px solid tongjiBlue
    border-bottom 1px solid tongjiBlue
    font-size 1.7rem
    font-weight 500

#floor
  padding 2rem 0
  min-width 950px
  li
    display inline-block
    padding 3rem
    border 1px solid #cecece
    margin 0 2rem
    min-width 141px
    transition box-shadow .5s
    cursor pointer
    &:hover
      box-shadow 2px 3px 4px 5px #eee
    .title
      font-size 1.3rem
    .en-title
      font-size 0.9rem
      color #6f6f6f
    .name
      font-size 1rem
      font-weight 400%
      color #818181
      margin-top 4rem
    .image .default-image
      line-height 100px
      height 100px
      width 100px
      border-radius 50%
      margin 0 auto
      background tongjiBlue
      transition background 0.5s
      &:hover
        background tomato
      span
        font-size 2rem
        font-weight 600
        color #e7e7e7

#appointment
  position relative
  margin 2rem 0
  min-height 80px
  min-width 950px
  text-align center
  input, textarea
    border 1px solid #c8c8c8
  input
    height 20px
    padding .2rem 1.2rem
  textarea
    height 136px
    min-width 200px
  button
    padding .4rem 1.2rem
    background tongjiBlue
    color white
    border none
    font-size 1rem

#appointment > div
  margin 0 1rem

#appoint-banner
  position relative
  display inline-block
  height 75px
  img
    height 100%

#appoint-form
  position relative
  display inline-block
  vertical-align top
  .form-group
    position relative
    margin-right .6rem
  .form-group > div
    margin-bottom 10px
  #form-note, .form-group
    display inline-block
    vertical-align top
  #form-submit
    position absolute
    bottom -40px
    right 0

#exhibition
  padding 2rem 0
  min-width 950px
  li
    display inline-block
    margin 0 .4rem
    max-width 230px
    .info
      font-weight 400
      color #6b6b6b
    .image
      position relative
      img
        width 100%
      .hover
        position absolute
        top 0
        left 0
        background-color rgba(0, 0, 0, 0.1)
        width 100%
        height 100%


#news
  margin 2rem 0

#news-slider
  position relative
  border 2px solid #e2e2e2
  border-radius 5px
  height 400px
  #bg
    position absolute
    left 0
    top 0
    height 100%
    width 45%
    background shallowBlue
  li
    position relative
    .img
      background white
      margin 40px 0 40px 40px
      padding 20px
      border 2px solid #e2e2e2
      border-radius 5px
      height 280px
      width 300px
      img
        height 100%
    .info
      position absolute
      top 50px
      left 430px
      height 250px
      width 200px
      .title
        color tongjiBlue
        font-weight 400
      p
        font-weight 300
        font-size .9rem
        line-height 1.2
        text-align left

#about
  position relative
  margin 2rem 0
  min-width 950px
  img
    width 100%

#about-main
  margin 0 8rem

#about #contract-board
  position absolute
  top 220px
  left 280px
  height 250px
  width 420px
  border 1px solid #939393
  background white
  .title
    position absolute
    top -20px
    left 15px
    height 70px
    background tongjiBlue
    width 160px
    color white
    font-size 1.8rem
    font-weight 600
    vertical-align bottom
    span
      position absolute
      bottom 2px
      left 15px
  .info p span
    margin-right 16px
    font-size .9rem
    font-weight 300
    i
      font-size 1.1rem
      padding-right 8px
      color tongjiBlue
  .info
    position absolute
    top 60px
    left 15px
    text-align left
  .info p
    margin .4rem 0
  form
    position absolute
    top 130px
    left 15px
    textarea
      height 50px
      width 350px
    button
      position absolute
      right 0
      bottom -36px
      padding .4rem 1.2rem
      background tongjiBlue
      color white
      border none
      font-size 1rem

