.unslider {
  position: relative;
  background: #fff;
  color: #666;
  text-align: center;
  text-shadow: none;
  padding: 0 16rem;
}
.unslider img {
  width: 100%;
}
.unslider-arrow {
  display: block;
  width: 60px;
  height: 60px;
  top: 50%;
  left: auto;
  margin-top: -16px;
  overflow: hidden;
  background-image: url("../img/right_arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -999em;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.unslider-arrow.next {
  left: auto;
  right: -140px;
}
.unslider-arrow.prev {
  right: auto;
  left: -140px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
