<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="render" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta keywords="同济大学 博物馆">
    <meta name="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>同济大学博物馆 | Museum of The Tongji University</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block main %}
    {% endblock %}
</body>
</html>