{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta keywords="同济大学 博物馆">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>同济大学博物馆 | Museum of The Tongji University</title>
    <link rel="icon" type="image/png" href="{% static 'common/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'common/css/common.css' %}">
    {% block head %}
    {% endblock %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
</head>
<body>
<header>
    <div id="header">
        <ul id="navbar">
            <div id="logo-left">
                <li><a href="./museum"><span>博物馆介绍</span><br/><span>HOME</span></a></li>
                <li><a href="#exhibition"><span>网上巡展</span><br/><span>EXHIBITION</span></a></li>
                <li><a href="#floor"><span>参观引导</span><br/><span>GUIDE</span></a></li>
            </div>
            <div id="logo-right">
                <li><a href="#news"><span>最新资讯</span><br/><span>NEWS</span></a></li>
                <li><a href="#about"><span>关于我们</span><br/><span>ABOUT</span></a></li>
                <li><a href="./museum/comment"><span>留言板</span><br/><span>COMMENT</span></a></li>
            </div>
        </ul>
        <div id="navbar-logo">
            <img src="{% static 'common/img/tongji_logo.png' %}" alt="">
            <p>同济大学博物馆 <br/> THE MUSEUM OF TONGJI UNIVERSITY</p>
        </div>
    </div>
</header>
{% block main %}

{% endblock %}

<footer id="footer">
    <hr/>
    <div>
        <span class="title">链接 Links</span>
        <span>
            <a href="http://www.tongji.edu.cn">同济大学</a>
            <a href="http://www.lib.tongji.edu.cn/site/tongji/index.html">同济大学图书馆</a>
        </span>
    </div>

    <hr/>
    <div>
        <span class="title">备案号 Record</span>
        <span class="record">
            沪ICP备15027189号
        </span>
    </div>
</footer>

<script src="{% static 'common/js/jquery.smooth.scroll.min.js' %}"></script>
<script src="{% static 'common/js/main.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>